/* General Styles */
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.wrapper{
    margin: 0 auto;
    padding: 0 10px;
}

label{
    font-weight: bold;
}

.btn{
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 5px;
    text-decoration: none;
    white-space: nowrap;
    line-height: 1.4;
    display: block;
    margin: 5px 0;
    padding: 10px;
    max-width: 200px;
}

.btn:hover{
    background-color: #204d74;
}

/* Error Message Styles */
#errorMsg{
    border: 1px solid #F5A9A9;
    background-color: #F6CECE;
    border-radius: 5px;
    padding: 15px 12px;
    margin: 10px auto;
    max-width: 600px;
}

/* Search Box Styles */
#searchHome{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

#searchHome .input-field{
    margin: 10px 0;
}

#searchHome label{
    width: 200px;
    display: inline-block;
    margin: 10px 10px 10px 0;
}

#searchHome label.checkbox{
    width: 100%;
    max-width: 600px;
    font-weight: normal;
    text-align: left;
    cursor: pointer;
}

#searchHome input[type=text]{
    border: 1px solid #ccc;
    max-width: 300px;
    width: 240px;
    padding:6px 12px;
    border-radius: 4px;
    font-size: 14px;
}

/* Result Styles */
#searchResults{
    margin-bottom: 40px;
}

#searchResults li{
    margin: 5px 0;
}

#searchResults .ctas{
    margin: 20px 0;
}

.result-street{
    font-size: 16px;
    margin: 5px 0;
}

.result-city{
    font-size: 16px;
}

#searchResults h2{
    margin-top: 20px;
}

@media screen and (min-width: 768px){
    .wrapper{
        max-width: 1200px;
    }

    .btn{
        display: inline-block;
        padding: 6px 12px;
    }

    #searchHome label{
        text-align: right;
    }

    #searchHome label.checkbox{
        margin: 10px 0 0 210px;
    }

    #searchHome input[type=text]{
        width: 100%;
    }

    #searchHome button[type=submit]{
        margin-left: 210px;
    }
}